@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'), url('./font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
/* pretendard 폰트셋팅 end */
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: 'Pretendard', '맑은고딕', sans-serif;
}
/* 기본셋팅 end */
.flex {
    display: flex;
}
header nav {
    width: 1280px;
    height: 70px;
    margin: 0 auto;
}
header nav > ul {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li.logo {
    height: 100%;
}
header nav ul li.logo a img {
    height: 70px;
    object-fit: contain;
    display: flex;
    align-items: center;
}
header nav ul li.menu ul {
    gap: 50px;
}
header nav ul li.menu-r ul {
    gap: 20px;
}
/* nav end */
section .banner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
section .banner .left {
    width: 640px;
    height: 640px;
    background: #a0af9b;
    display: flex;
    position: relative;
}
section .banner .left img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section .banner .right {
    width: 640px;
    height: 640px;
}
section .banner .right .right_top {
    width: 100%;
    height: 50%;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 80px 100px 80px 100px;
    box-sizing: border-box;
    gap: 20px;
}
section .banner .right .right_top span {
    font-weight: 500;
    cursor: pointer;
}
section .banner .right .right_bottom {
    width: 100%;
    height: 50%;
    background: url(images/photo2.png);
    background-size: cover;
}
/* banner end */
main .bg {
    height: 2680px;
    width: 1280px;
    background: url(images/main_bg.png);
    margin: 0 auto;
    padding-top: 30px;
}
main .bg_sub {
    height: 1458px;
    width: 1104px;
    background: url(images/main_sub.png) no-repeat;
    margin: 0 auto;
}
main .product {
    width: 1070px;
    margin: 0 auto;
}
main .product .tl_txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    padding-top: 80px;
}
main .product .tl_txt span {
    width: max-content;
    color: #000;
    background: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 10px;
}
/* product tl_txt end */
main .product .item {
    display: flex;
    width: 1070px;
    margin-top: -40px;
}
main .product .item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .product .item ul.item_middle {
    margin-bottom: 180px;
}
main .product .item ul li {
    width: 350px;
    height: 450px;
    background: #ccc;
    margin: 2px;
    position: relative;
    overflow: hidden;
}
main .product .item ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    height: auto;
}
/* product item */
main .product .tb_txt {
    text-align: center;
    color: #fff;
    margin: 50px 0;
}
main .product .tb_txt h1 {
    margin-bottom: 10px;
}
/* product tb_txt end */
main .product .story {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
main .product .story ul.st {
    width: 100%;
    height: 345px;
    background: #fff;

    display: flex;
}
main .product .story ul.st > li {
    width: 50%;
    height: 100%;
}
main .product .story ul.st li:first-child {
}
main .product .story ul.st li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 80px;
    gap: 20px;
    box-sizing: border-box;
}
main .product .story ul.st img {
    width: 100%;
    height: 100%;
}
/* product stoty st end */
main .product .story .sb {
    width: 100%;
    height: 405px;
}
main .product .story .sb {
    display: flex;
    justify-content: space-between;
}
main .product .story .sb > li {
    width: 33%;
    height: 100%;
    background: #fff;
}
main .sb li ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main .sb li ul li {
    width: 100%;
    height: 50%;
}
main .sb li:first-child ul li {
    width: 100%;
    height: 70%;
}
main .sb li ul li img {
    width: 100%;
    height: 100%;
}
main .sb .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 0 50px;
}
/* product stoty sb end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
