@font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: local('Pretendard Variable'), url('./font/PretendardVariable.woff2') format('woff2-variations');
}

@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('./font/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
/* pretendard 폰트셋팅 end */
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: 'Pretendard', '맑은고딕', sans-serif;
}
/* 기본셋팅 end */
header nav {
}
header nav ul {
    display: flex;
    height: 60px;
    width: 1280px;
}
header nav ul .logo {
    width: 100px;
    height: 100%;
    background: url(images/logo.png) no-repeat;
    background-size: 100%;
    border: 1px solid #000;
}

/* nav end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
/* 기본셋팅 end */
