@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Pretendard', '맑은고딕', sans-serif;
}

/* 기본셋팅 end */
.material-symbols-outlined {
    font-size: 20px;
}

.flex {
    display: flex;
}
header {
}
header nav {
    width: 1280px;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 20%);
}
header nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 30px;
}
header nav ul li.logo {
    height: 100%;
}
header nav ul li.logo a img {
    height: 60px;
    object-fit: contain;
    display: flex;
    align-items: center;
}
header nav ul li.menu ul {
    gap: 50px;
}
header nav ul li.menu-r ul {
    gap: 20px;
}
header nav a {
    font-size: 16px;
}
/* header nav end */
header .contents {
    width: 1280px;
    height: 640px;
    margin: 0 auto;
}
header .contents .container {
    display: flex;
}
header .contents span {
    font-size: 14px;
}
header .contents .left {
    width: 628px;
    height: 640px;
    background: #f1f1f1;
    position: relative;
}
header .contents .left img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    height: auto;
}
header .contents .right {
    width: 652px;
    height: 640px;
    background: #fff;
}
header .contents .right > ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 30px 0 24px;
    gap: 54px;
    justify-content: center;
}
header .contents .right .maintitle {
    flex-direction: column;
    gap: 20px;
}
header .contents .right .check ul {
    flex-direction: column;
    gap: 10px;
}
header .contents .right .check ul li:nth-child(2) span {
    margin-right: 10px;
}
header .contents .right .btn ul {
    gap: 24px;
}
header .contents .right .btn ul li a {
    display: block;
    background: #2d2d2d;
    color: #fff;
    padding: 15px 53px;
}
/* header contents end */
main section.first {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
}
main section.first .container {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
main section.first .container .text ul {
    justify-content: space-between;
    align-items: center;
}
main section.first .container .recommend {
    justify-content: space-between;
}
main section.first .container .recommend > ul {
    width: 287px;
    height: 368px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border: 1px solid #000;
}
main section.first .container .recommend > ul li.photo {
    position: relative;
    width: 287px;
    height: 250px;
    background: #fafafa;
}
main section.first .container .recommend > ul li.photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
}
main section.first .container .recommend > ul .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* section first end */
section.second .container {
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    background: url(./images/second/photo6.jpg) no-repeat;
    background-position: center;
    position: relative;
}
section.second .container {
    font-size: 64px;
    font-weight: 600;
    color: #fff;
}
section.second .container p:first-child {
    position: absolute;
    top: 80px;
    left: 30px;
}
section.second .container p:nth-child(2) {
    position: absolute;
    bottom: 80px;
    right: 30px;
}
/* section second end */
section.third {
    width: 1280px;
    height: 900px;
    margin: 0 auto;
    align-items: center;
}
section.third .container > div {
    width: 629px;
    height: 800px;
}
section.third .container .left video {
    object-fit: cover;
}
section.third .container .right {
    justify-content: center;
    align-items: center;
}
section.third .container .right ul {
    flex-direction: column;
    gap: 20px;
}
section.third .container .right ul > li > p {
    margin-top: 10px;
}
/* section third end */
section.fourth {
    width: 1280px;
    margin: 0 auto;
}
section.fourth .container {
    flex-direction: column;
}
section.fourth .container .review {
    width: 100%;
    justify-content: space-between;
    border-top: 3px solid #f1f1f1;
}
section.fourth .container .review > li {
    width: 50%;
}
section.fourth .container .review > li > p > a {
    width: 100%;
    text-align: center;
    display: block;
    padding: 20px 0;
}
/* section fourth end */
/* footer end */
