@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
body {
    font-family: Pretendard, 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #111;
    overflow-x: hidden;
}
h1 {
    font-size: 48px;
    font-weight: 600;
}
/* ▲ 기본셋팅 end ▲ */
header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
header .header__wrap {
    margin: 6px 0;
}
header .header__inner {
    width: 1280px;
    background: #fff;
    border-radius: 999px;
    overflow: hidden;
    margin: 0 auto;
}
header .header__wrap nav {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    position: relative;
    font-weight: 600;
}
header .header__wrap nav .nav__left {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header__wrap nav .nav__left .logo {
    padding-right: 72px;
}
header .header__wrap nav .nav__left .item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header__wrap nav .nav__left .item__name {
    line-height: 76px;
}
header .header__wrap nav .nav__left .itemitem__name {
    height: 100%;
}
header .header__wrap nav .nav__left .item .item__name .arrow {
    position: relative;
    padding-right: 43px;
}
header .header__wrap nav .nav__left .item .item__name a {
    padding-right: 36px;
}

header .header__wrap nav .nav__left .item .item__name:hover a {
    color: #ff6400;
}
header .header__wrap nav .nav__left .item .item__name:first-child .arrow {
    padding-left: 0px;
}
.item div .arrow::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid #111;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    z-index: 999;
    margin: 7px;
    top: 0;
    right: 22px;
}
.item div .arrow:first-child:hover::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 0px;
    border-bottom: 6px solid #ff6400;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    z-index: 999;
    margin: 7px;
}
.item__contents {
    display: none;
}

.item__name:hover ~ .item__contents,
.item__contents:hover {
    position: absolute;
    display: block;
    top: 50px;
    left: 125px;
    width: 170px;
    height: 196px;
    padding: 10px;
    background: #fff;
    text-align: center;
    border: 3px solid #000;
    border-radius: 20px;
}
header .header__wrap nav .nav__right {
    display: flex;
}
header .header__wrap nav .nav__right .icon_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}

header .header__wrap nav .nav__right .switch_btn {
    display: flex;
    margin-right: 24px;
    background: #ddd;
    border-radius: 999px;
}
header .header__wrap nav .nav__right .switch_btn .switch_btn__left {
    padding: 10px 14px 10px 24px;
    background: #ddd;
    border-radius: 999px;
}
header .header__wrap nav .nav__right .switch_btn .switch_btn__right {
    padding: 10px 24px;
    background: #ff6400;
    border-radius: 999px;
}
.contents__menu .inner li a {
    display: block;
    line-height: 20px;
}
.contents__menu .inner li a:hover {
    background: #ccc;
    border-radius: 20px;
}
/* ▲ header end ▲ */
.banner {
    width: 100%;
    margin: 0 auto;
}
.banner .banner__wrap {
}
.banner .banner__wrap .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.banner .banner__wrap .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ▲ banner end ▲ */
.introduction {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: #ffe4d2;
}
.introduction .introduction__wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.introduction .introduction__wrap .introduction__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 129px;
    box-sizing: border-box;
}
.introduction .introduction__wrap .introduction__left {
    width: 500px;
    height: 100%;
    position: relative;
    display: flex;
    gap: 12px;
    box-sizing: border-box;
    overflow: hidden;
}
.introduction__left .introduction__left__line_1 {
    top: -25%;
    left: 0;
}
.introduction__left .introduction__left__line_2 {
    top: -35%;
    left: 257.5px;
}
.introduction__left > div {
    position: absolute;
}
.introduction__left > div > div {
    background: #ccc;
    border-radius: 20px;
    margin-bottom: 12px;
    overflow: hidden;
}

.introduction__left > div > .long {
    width: 243.5px;
    height: 320px;
}
.introduction__left > div > .square_2 {
    width: 243.5px;
    height: 243.5px;
}
.introduction__right {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.introduction__right > div {
    margin: 8px 0;
}
.introduction__right a {
    padding: 8px 40px;
    background: #111;
    color: #fff;
    border-radius: 999px;
}
.introduction__right a:hover {
    background: #ff6400;
}
/* ▲ introduction end ▲ */
.management {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: #d2ffdc;
}
.management .management__wrap {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.management .management__wrap .management__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 129px;
    box-sizing: border-box;
}
.management .management__wrap .management__right {
    width: 500px;
    height: 100%;
    position: relative;
    display: flex;
    gap: 12px;
    box-sizing: border-box;
    overflow: hidden;
}
.management__right .management__right__line_1 {
    top: -25%;
    left: 0;
}
.management__right .management__right__line_2 {
    top: -35%;
    left: 257.5px;
}
.management__right > div {
    position: absolute;
}
.management__right > div > div {
    background: #ccc;
    border-radius: 20px;
    margin-bottom: 12px;
    overflow: hidden;
}

.management__right > div > .long {
    width: 243.5px;
    height: 320px;
}
.management__right > div > .square_2 {
    width: 243.5px;
    height: 243.5px;
}
.management__left {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}
.management__left > div {
    margin: 8px 0;
}
.management__left a {
    padding: 8px 40px;
    background: #111;
    color: #fff;
    border-radius: 999px;
}
.management__left a:hover {
    background: #ff6400;
}
/* ▲ management end ▲ */
.community {
    width: 100%;
    background: #f1f3f8;
}
.community__inner {
    padding-bottom: 72px;
}
.community_tittle {
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.community_menu {
    width: 100%;
    padding: 32px 0;
}
.community_menu__wrap {
    width: 1280px;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
}
.community_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 999px;
    gap: 10px;
    padding: 4.5px 17px;
    cursor: pointer;
}
.community_menu_item .community_icon {
    padding-top: 3px;
    color: #ff6400;
}
.community_menu_item > li > p {
    font-weight: 500;
}
.community_menu_item:hover,
.community_menu_item:hover .community_icon {
    background: #ff6400;
    color: #fff;
}
.community_contents {
    width: 1920px;
    overflow: hidden;
    display: flex;
    margin: 30px auto;
}
.community_contents__wrap {
}
.community_contents__wrap ul {
    display: flex;
}
.rolling-list.original:hover {
}
.rolling-list.original {
    animation: rollingleft1 60s linear infinite;
}
.rolling-list.clone {
    animation: rollingleft2 60s linear infinite;
}

@keyframes rollingleft1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    50.01% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rollingleft2 {
    0% {
        transition: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}
.community_contents_box {
    /* width: 290px;
    height: 338px; */
    width: 290px;
    height: 338px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 6px;
    padding: 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.community_contents_box_top {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}
.community_contents_box_top > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.community_contents_box_bottom {
    width: 100%;
    height: 40%;
    background: #fff;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 0 0 30px 30px;
}
.community_contents_box_bottom > p {
    padding-bottom: 16px;
    color: #767676;
    font-weight: 600;
    font-size: 13px;
}
.community_contents_box_bottom > strong {
    font-weight: 500;
}

/* ▲ community end ▲ */
.product {
    width: 100%;

    background: #f1f3f8;
}
.product_tittle {
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.product_menu {
    width: 100%;
    padding: 32px 0;
}
.product_menu__wrap {
    width: 1280px;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
}
.product_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 999px;
    gap: 10px;
    padding: 4.5px 17px;
    cursor: pointer;
}
.product_menu_item .product_icon {
    padding-top: 3px;
    color: #ff6400;
}
.product_menu_item > li > p {
    font-weight: 500;
}
.product_menu_item:hover,
.product_menu_item:hover .product_icon {
    background: #ff6400;
    color: #fff;
}
.product_box {
    width: 100%;
    margin: 0 auto;
}
.product_box__wrap {
    position: relative;
    width: 1280px;
    height: 700px;
    margin: 0 auto;
}

.product_box__inner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 129px;
}
/* .ramenContents {
    visibility: visible;
}
.snackContents {
    visibility: hidden;
}
.dairyContents {
    visibility: hidden;
}
.souceContents {
    visibility: hidden;
}
.frozenContents {
    visibility: hidden;
} */
.product_box_contents {
    width: 244px;
    height: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    gap: 10px;
}
.product_box_contents p {
    padding-bottom: 2px;
    font-size: 12px;
    color: #767676;
}
.product_box_contents h3 {
    font-size: 18px;
    font-weight: 500;
}
/* ▲ product end ▲ */
footer {
    width: 100%;
    height: 350px;
    background: #f1f3f8;
    margin: 0 auto;
}
.footer__wrap {
    display: flex;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.footer__innner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 48px;
    padding: 0 129px;
}
.footer_top_contents {
    display: flex;
    gap: 10px;
}
.footer_top_contents a {
    font-size: 15px;
    color: #767676;
}
.footer_bottom__wrap {
    display: flex;
    justify-content: space-between;
}
.footer_bottom_contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}
.footer_bottom_contents > li {
    font-size: 12px;
    color: #767676;
}
.footer_bottom_sns {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}
.footer_bottom_sns > li {
    position: relative;
    width: 30px;
    height: 31px;
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
}
.footer_bottom_sns > .sns_1 {
    background-image: url(../images/icon\ _blogger_.png);
}
.footer_bottom_sns > .sns_1:hover {
    background-image: url(../images/icon\ _blogger_2.png);
}
.footer_bottom_sns > .sns_2 {
    background-image: url(../images/icon\ _instagram_.png);
}
.footer_bottom_sns > .sns_2:hover {
    background-image: url(../images/icon\ _instagram_2.png);
}
.footer_bottom_sns > .sns_3 {
    background-image: url(../images/icon\ _facebook_.png);
}
.footer_bottom_sns > .sns_3:hover {
    background-image: url(../images/icon\ _facebook_2.png);
}
.footer_bottom_sns > .sns_4 {
    background-image: url(../images/icon\ _youtube_.png);
}
.footer_bottom_sns > .sns_4:hover {
    background-image: url(../images/icon\ _youtube_2.png);
}

/* ▲ footer end ▲ */
